$gameZ: 0;
$optionsZ: 1000;
$chatZ: 2000;
$navbarZ: 3000;
$dialogZ: 4000;
$connectingZ: 5000;

$darkPurple: #292368;
$themeNavbarBg: #8981d5;
$mediumPurple: #8981d5;
$mediumBg: #ada7e2;
$themeHandBg: $mediumBg;
$themeGlobalBg: $mediumBg;
$lightBg: #d1ceef;
$lighterBg:#e3e1f5;
$lightestBg: #f4f4fb;

@mixin nav-bar($class) {
    #{$class} {
        font-size: 1.1rem;
        padding: 0.5rem 0.5rem 0;
    }
    #{$class}, #{$class} > div {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}

@mixin default-nav-bar {
    @include nav-bar(".nav");
    .nav {
        flex-wrap: wrap-reverse;
        border-bottom: 1px solid #000;
        background: $themeNavbarBg;
        position: sticky;
        top: 0;
        left: 0;
        z-index: $navbarZ;
    }
}
