$gameZ: 0;
$optionsZ: 1000;
$chatZ: 2000;
$navbarZ: 3000;
$dialogZ: 4000;
$connectingZ: 5000;

$themeNavbarBg: #8981d5;
$themeHandBg: lighten(#8981d5, 10);
$themeGlobalBg: lighten($themeNavbarBg, 10);

@mixin nav-bar($class) {
    #{$class} {
        font-size: 1.1rem;
        padding: 0.5rem 0.5rem 0;
    }
    #{$class}, #{$class} > div {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}

@mixin default-nav-bar {
    @include nav-bar(".nav");
    .nav {
        flex-wrap: wrap-reverse;
        border-bottom: 1px solid #000;
        background: $themeNavbarBg;
        position: sticky;
        top: 0;
        left: 0;
        z-index: $navbarZ;
    }
}
