@use "~inter-ui/default" with (
  $inter-font-display: swap,
  $inter-font-path: '~inter-ui/web'
);

@use "~inter-ui/variable" with (
  $inter-font-display: swap,
  $inter-font-path: '~inter-ui/variable'
);

@include default.all;
@include variable.all;

// @import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=latin-ext');
@import "defs";

html {
    font-family: "Inter", system-ui, sans-serif;
    font-size: 14px;
    background: $themeGlobalBg;
    z-index: $gameZ;
    // user-select: none;

    @media screen and (max-width: 800px) {
        font-size: 13px;
    }
    @media screen and (max-width: 600px) {
        font-size: 12px;
    }
}
@supports (font-variation-settings: normal) {
  html { font-family: "InterVariable"; } /* If using the variable font */
}
html, body, #root {
    height: 100%;
}
html.connecting {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}
#card-size-measurement {
    display: none;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
}
.connecting-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: $connectingZ;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    .loader-text {
        width: 70vw;
    }
}
@media (max-width: 500px) {
    .connecting-overlay .loader-text {
        width: 90vw;
    }
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.25rem;
}
h4 {
    font-size: 1rem;
}
button {
    background-color: lighten($themeGlobalBg, 15);
    color: #000000;
    border: 2px outset lighten($themeGlobalBg,10);
    border-radius: 5px;
}
button:active {
    border-style: inset;
}
button:disabled {
    color: #999999;
    border-style: outset;
    cursor: not-allowed;
}
input {
    border: 1px solid darken($themeGlobalBg,10);
    background-color: lighten($themeGlobalBg, 25);
    accent-color: darken($themeGlobalBg, 50);
}

a, a:link {
    color: #ff389c;
    text-decoration: underline;
    &:hover, &:focus {
        color: lighten(#ff389c, 10);
    }
    &:visited {
        color: darken(#ff389c, 10);
    }
}
