.loader {
  text-align: center;
}
.loader-text {
  font-size: 1.2rem;
}

.loader.dark .lds-ripple div {
  border-color: #000;
}
.loader.light .lds-ripple div {
  border-color: #fff;
}

/* modified from https://loading.io/css/ under CC0 license */

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 75px;
  height: 75px;

  div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    box-sizing: border-box;
  }
  div:nth-child(2) {
    animation-delay: -0.5s;
  }
}

@keyframes lds-ripple {
  // reduce white flashing in some situations by starting the animation a bit late
  0% {
    top: 33.5px;
    left: 33.5px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  10% {
    top: 33.5px;
    left: 33.5px;
    width: 8px;
    height: 8px;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 75px;
    height: 75px;
    opacity: 0;
  }
}
