@import "defs";
.login {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--bs-body-bg);
    background-image: var(--bs-gradient);

    form {
        margin-bottom: 0.5rem;

        > * {
        margin: 0 0.3rem 0 0;
        }

        input {
            background-color: var(--options-input-bg);
        }

        button {
            background-color: var(--options-toggler-bg);
        }
    }
    .errors {
        padding-left: 0;
        list-style-type: none;
        color: deeppink;
        font-size: 0.85rem;
    }
    .legal {
        margin-top: auto;
        margin-bottom: 0em;
        font-size: 0.85rem;
        color: var(--login-legal);
    }
}
