
        #toggle-theme:hover{cursor:pointer}
        #toggle-theme svg{
            width:32px;
            height:32px;
            vertical-align:middle;
            pointer-events:none
        }
        @keyframes spin{from{transform:rotate(0deg)}
        to{transform:rotate(360deg)}
        }
        .spin-it{
            animation-name:spin;
            animation-duration:500ms;
            animation-iteration-count:1;
            animation-timing-function:linear
        }
